<h3 class="Project-card__title">{{project.title}}</h3>
<p class="Project-card__description">{{project.description}}</p>
{{!-- <p class="Project-card__link">
  <span class="Project-card__link-text">View project {{fa-icon 'external-link'}}</span>
</p> --}}